body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #222;
  color: #ddd;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrollbar */
}

.background-pattern {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('data:image/svg+xml,<svg width="100" height="100" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,100" fill="#171a29" opacity="0.1"/></svg>'); 
  background-size: 10px 10px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header.header {
  background-color: #171a29;
  padding: 20px 0;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 5px #007bff; /* Glowing text effect */
}

header.header h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

header.header p {
  font-size: 1.2em;
  font-style: italic;
}

nav.navigation {
  background-color: #171a29;
  padding: 10px 0;
}

nav.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav.navigation li {
  display: inline-block;
  margin: 0 20px;
}

nav.navigation a {
  color: #ddd;
  text-decoration: none;
  font-weight: bold;
}

nav.navigation a:hover {
  color: #fff;
}

main {
  padding-bottom: 100px;
}

section {
  margin-bottom: 50px;
}

section h2 {
  color: #007bff;
  text-shadow: 0 0 5px #007bff; /* Glowing text effect */
}

.skills-list {
  list-style: none;
  padding: 0;
}

footer.footer {
  background-color: #171a29;
  padding: 20px 0;
  text-align: center;
  color: #fff;
}
